name: Release

on:
  push:
    tags:
      - '*'

jobs:
  github-release:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: "11"

      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ matrix.scala.binary-version }}-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('**/build.properties') }}
          restore-keys: |
            ${{ runner.os }}-sbt-${{ matrix.scala.binary-version }}-

      - name: sbt GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_AUTH_TOKEN }}
        run: |
          echo "Run] sbt GitHub release"
          echo 'sbt -J-Xmx2048m devOopsGitHubRelease'
          sbt \
            -J-Xmx2048m \
            devOopsGitHubRelease

  github-release-artifacts-and-publish:
    needs: github-release

    runs-on: ubuntu-latest

    strategy:
      matrix:
        scala:
          - { name: "Scala 2", version: "2.12.12", binary-version: "2.12", java-version: "11", cli: "" }
          - { name: "Scala 2", version: "2.13.3",  binary-version: "2.13", java-version: "11", cli: "cli" }

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.scala.java-version }}

      - name: Cache SBT
        uses: actions/cache@v2
        with:
          path: |
            ~/.ivy2/cache
            ~/.cache/coursier
            ~/.sbt
          key: ${{ runner.os }}-sbt-${{ matrix.scala.binary-version }}-${{ hashFiles('**/*.sbt') }}-${{ hashFiles('**/build.properties') }}
          restore-keys: |
            ${{ runner.os }}-sbt-${{ matrix.scala.binary-version }}-

      - name: "sbt GitHub Release and Publish tag for ${{ matrix.scala.name }} ${{ matrix.scala.version }} - ${{ github.run_number }}"
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_AUTH_TOKEN }}
          BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          BINTRAY_PASS: ${{ secrets.BINTRAY_PASS }}
        run: |
          export GITHUB_TAG=${GITHUB_REF#refs/tags/}
          .github/workflows/sbt-release.sh ${{ matrix.scala.version }} ${{ matrix.scala.cli }}

  publish_maven:
    needs: github-release-artifacts-and-publish

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Sync core to Maven Central
        env:
          BINTRAY_USER: ${{ secrets.BINTRAY_USER }}
          BINTRAY_PASS: ${{ secrets.BINTRAY_PASS }}
        run: |
          PROJECT_VERSION="${GITHUB_REF#refs/tags/v}"
          BINTRAY_SUBJECT=kevinlee
          BINTRAY_REPO=maven
          BINTRAY_PACKAGE=maven2sbt-core
          echo "BINTRAY_SUBJECT: $BINTRAY_SUBJECT"
          echo "   BINTRAY_REPO: $BINTRAY_REPO"
          echo "BINTRAY_PACKAGE: $BINTRAY_PACKAGE"
          echo "PROJECT_VERSION: $PROJECT_VERSION"
          echo "Sync to Maven Central..."
          curl --user $BINTRAY_USER:$BINTRAY_PASS -X POST "https://api.bintray.com/maven_central_sync/$BINTRAY_SUBJECT/$BINTRAY_REPO/$BINTRAY_PACKAGE/versions/$PROJECT_VERSION"
